<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../public/index.css" />
    <title>Are Posture Correctors Useful?</title>
  </head>
  <body>
    <div class="h-screen bg-gray-900 dark:bg-gray-900">
      <section class="bg-blue-300 dark:bg-gray-800">
        <div class="grid max-w-screen-lg px-4 py-8 lg:py-16 mx-auto">
          <div class="mr-auto place-self-center lg:col-span-7 xl:col-span-8">
            <h1
              class="max-w-2xl mb-4 text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-5xl dark:text-white"
            >
              Best Boat Shoes
            </h1>
            <p
              class="max-w-2xl mb-6 text-gray-700 lg:mb-4 md:text-lg lg:text-xl dark:text-gray-400"
            >
              Compare the best products in this category
            </p>
            <p class="text-gray-800 dark:text-gray-200 uppercase text-sm">
              An Article By:
              <span class="font-bold">Boaty Mc Boat Face</span>
            </p>

            <div class="flex items-center mb-3"></div>
            <div
              class="text text-left text-gray-700 dark:text-gray-400 prose max-w-none"
            >
              Welcome to our Boat Shoe Buyer's Guide! Boat shoes, also known as
              deck shoes or topsiders, are a popular choice for both casual and
              active wear. They are designed with a non-slip sole and durable
              upper to withstand wet and slippery conditions, making them
              perfect for boating and other water activities.
              <br />
              <br />
              But boat shoes are not just for the deck of a boat - they can also
              be worn for everyday use, as they are comfortable and stylish. In
              this guide, we will provide you with all the information you need
              to find the perfect pair of boat shoes for your needs. Whether you
              are looking for a classic style, the latest trends, or the best
              performance, we have you covered. So let's get started!
            </div>
          </div>
          <div class="hidden lg:mt-0 lg:col-span-5 xl:col-span-4 lg:flex"></div>
        </div>
      </section>

      <section class="bg-white dark:bg-gray-900">
        <div class="max-w-screen-lg px-4 py-8 mx-auto lg:py-16">
          <div
            class="max-w-5xl my-4 bg-white flex flex-auto border-gray-200 rounded-none shadow-md dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex flex-col sm:flex-row p-6">
              <img
                src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/81fZnXqQJ4S.__AC_SX300_SY300_QL70_FMwebp_.jpg"
                class="w-96 my-auto"
              />

              <div class="py-2 sm:px-6">
                <a href="#">
                  <h5
                    class="uppercase mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-gray-300"
                  >
                    ideal agent
                  </h5>
                  <p
                    class="text-sm tracking-tight text-gray-500 dark:text-white"
                  >
                    DoGStuffTheBrand
                  </p>

                  <div class="mt-2 flex items-center">
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-yellow-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>First star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-yellow-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Second star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-yellow-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Third star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="w-8 h-8 text-yellow-400"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Fourth star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      ></path>
                    </svg>
                    <svg
                      aria-hidden="true"
                      class="w-5 h-5 text-gray-300 dark:text-gray-500"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>Fifth star</title>
                      <path
                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      ></path>
                    </svg>
                    <p
                      class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400"
                    >
                      Trust Score 4.9 (21,325)
                    </p>
                  </div>
                </a>
                <div class="dark:text-gray-400 my-2 text-gray-600">
                  The Winsterch Washable Warming Cat Bed House is perfect for
                  keeping your cat warm and comfortable. Made of soft, fluffy
                  material, this bed provides a safe and comfortable place for
                  your cat to rest. The bed features a removable cushion and
                  waterproof bottom, making it easy to clean and maintain. With
                  its soft, fluffy material, this bed is sure to provide comfort
                  for your cat.
                </div>
              </div>
              <div
                class="sm:ml-auto my-2 sm:my-auto justify-center flex flex-col gap-4 items-center content-center"
              >
                <a
                  href="#"
                  class="inline-flex flex-row sm:flex-row w-max items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Go To Amazon
                  <svg
                    aria-hidden="true"
                    class="w-6 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </a>
                <a
                  href="#"
                  class="inline-flex flex-row sm:flex-row w-max items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Product Details
                  <svg
                    aria-hidden="true"
                    class="w-6 h-4 ml-2"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-lg sm:py-16 lg:px-6">
          <h2
            class="mb-6 lg:mb-8 text-3xl lg:text-4xl tracking-tight font-extrabold text-left text-gray-900 dark:text-gray-300"
          >
            Buyer's Guide
          </h2>
          <div class="mr-auto max-w-screen-lg flex">
            <div
              id="accordion-flush"
              data-accordion="collapse"
              data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
              data-inactive-classes="text-gray-500 dark:text-gray-400"
            >
              <h2 id="accordion-flush-heading-1">
                <button
                  type="button"
                  class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300"
                  data-accordion-target="#accordion-flush-body-1"
                  aria-expanded="true"
                  aria-controls="accordion-flush-body-1"
                >
                  <h2 class="text-2xl">
                    What to Consider When Choosing the Best Cat Cave
                  </h2>

                  <svg
                    data-accordion-icon=""
                    class="w-6 h-6 rotate-180 shrink-0"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </h2>
              <div
                id="accordion-flush-body-1"
                class=""
                aria-labelledby="accordion-flush-heading-1"
              >
                <div
                  class="lg:py-9 border-gray-200 dark:border-gray-700 prose dark:prose-p:text-gray-400 dark:prose-headings:text-gray-300 prose-headings:font-medium prose-h3:text-2xl max-w-none prose-li:list-disc dark:prose-li:text-gray-400"
                >
                  <h2>What are Cat Caves?</h2>
                  <p>
                    A cat cave is a type of pet bed that is designed to give
                    your feline friend a cozy, private space to sleep or relax.
                    Cat caves are usually made from soft, comfortable materials
                    like wool or felted fabric and typically have a round or
                    oval shape. Some cat caves also feature a hole or opening in
                    the front so your kitty can peek out while they're inside.
                  </p>
                  <p>
                    Not only do cat caves provide your feline with a cozy place
                    to rest, but they can also help reduce stress and anxiety
                    levels. If your cat enjoys spending time in small, enclosed
                    spaces, then a cat cave can provide them with the perfect
                    hideaway. Cats also love to scratch and claw at things, so
                    the soft fabric of a cat cave can help keep your furniture
                    and carpets safe from damage.
                  </p>
                  <p>
                    If you're looking for the perfect gift for your feline
                    friend, then consider getting them their very own cat cave.
                    Your kitty is sure to love snuggling up inside their new
                    favorite hiding spot.
                  </p>
                  <p>
                    Before you start shopping for a cat cave, there are some
                    important decisions to make. The following sections will
                    outline the most critical considerations to keep in mind
                    while on the hunt for the best cat cave.
                  </p>
                  <h3>Size and Available Space</h3>
                  <p>
                    The first thing to determine is how much space is available
                    for your feline friend to enjoy the den. This will impact
                    the size and shape of the cat cave you choose. If owners
                    have limited space but want a big-enough cave for their
                    kitty, they may opt for an easily accessible room with high
                    ceilings instead of a more secluded area away from the
                    action.
                  </p>
                  <h3>Type</h3>
                  <p>
                    There are several types of cat caves that vary in size,
                    shape, and design. Some of the options include alcoves,
                    arches, tunnels, boxes, and even swings.
                  </p>
                  <ul>
                    <li>
                      Alcoves: An alcove is a semi-enclosed area cut into the
                      wall of a larger room. It can be any shape, but the most
                      common style is a square or rectangular box. The roof of
                      the alcove can be flat, sloped, or pitched.
                    </li>
                    <li>
                      Arches: Arches are typically shaped like the letter D or
                      an L with a curve at the top. Theyre great for hiding
                      places and often provide a spot for climbers to hang. Keep
                      in mind that cats cannot jump down from an arch, so it
                      isnt suitable for a fall-safe location.
                    </li>
                    <li>
                      Tunnels: Like arches, these come in a variety of shapes,
                      including the letter D or an L with a curve at the top.
                      Unlike arches, which are open on both ends, a tunnel has
                      only one opening and a closed end.
                    </li>
                    <li>
                      Boxes: Boxes are generally cubed, with flat roofs. They
                      can be freestanding, built-in, or mounted.
                    </li>
                  </ul>
                  <h3>Material</h3>
                  <p>
                    The material used to build the cat cave should be durable,
                    chew resistant, and nontoxic.
                  </p>
                  <ul>
                    <li>
                      Wood: Wood is a sturdy material thats been around for
                      centuries and is still popular today. Its naturally chewy
                      and provides a comfortable scratching post, but it can be
                      slippery and isnt as easy to clean as other materials.
                    </li>
                    <li>
                      Metal: Metal is another old-school material thats still
                      popular today. Its strong and durable and resists chewing,
                      but metal isnt the most comfortable scratch surface for a
                      cat. Plus, its potentially toxic if ingested.
                    </li>
                    <li>
                      Fabric: Soft fabrics like cotton and polyester are popular
                      choices for cat dens because they arent only soft on the
                      skin but also nonslip. However, a fabric den may be easier
                      to chew through than a solid wood or metal option.
                    </li>
                    <li>
                      Plastic: Plastic is lightweight, waterproof, and often
                      visually appealing. However, it may be less durable than
                      other materials and could potentially be toxic if
                      ingested.
                    </li>
                  </ul>
                  <h3>Decks</h3>
                  <p>
                    A cat den should offer your feline companion a place to
                    sleep, eat, and scratch without having to leave the comfort
                    of the room. One way to achieve this is with a deck. A deck
                    is a elevated platform built into the floor of the cat den
                    that allows the kitty to comfortably sunbathe, eat, and
                    scratch without getting up.
                  </p>
                  <p>
                    Deck construction varies, but the most popular type has a
                    raised floor supported by wooden or metal legs. The height
                    of the deck can range from 2 to 6 inches above the floor of
                    the room.
                  </p>
                  <h3>Soundproofing</h3>
                  <p>
                    Noise-proofing is essential for a cat den, especially if you
                    have a noisy kitty who like to growl in the
                    night.&nbsp;Solid walls and a flat or pitched roof are the
                    most effective noise-proofing tools. The thicker the walls
                    and the flatter the roof, the more soundproof the structure
                    will be.
                  </p>
                  <h3>Temperature & Humidity</h3>
                  <p>
                    Cats are creatures of habit, and they tend to do the same
                    things at the same times of day, regardless of the
                    temperature or humidity. However, when it comes to playtime,
                    food, and litter box usage, the environment plays a
                    significant role.
                  </p>
                  <p>
                    For example, nighttime is a dark time for many felines, so
                    the bedroom is often the coolest part of the home. During
                    the day, however, the outdoor temperature and sunlight can
                    influence where the cat chooses to nap and play. Extreme
                    temperatures can also affect where the cat chooses to sleep
                    and play. In cold weather, your cat may prefer to sleep
                    indoors to stay warm and cozy. In hot weather, they may seek
                    refuge in a shady corner or find a cool, dark alcove.
                  </p>
                  <p>
                    Humidity may also play a role in your cat's decision about
                    where to sleep and play. When the humidity is high, your cat
                    may avoid sleeping in damp areas such as on the floor or
                    under furniture. Conversely, when the humidity is low, your
                    cat may feel more at ease sleeping on the floor in a damp
                    area.
                  </p>
                  <h3>Longevity</h3>
                  <p>
                    Choosing a durable and chew-resistant material helps
                    increase the longevity of the cat den. Wood, metal, and
                    plastic are all excellent choices because theyre durable,
                    chew resistant, and nonporous. Fabric and polypropylene
                  </p>
                </div>
              </div>
              <h2 id="accordion-flush-heading-1">
                <button
                  type="button"
                  class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300"
                  data-accordion-target="#accordion-flush-body-1"
                  aria-expanded="true"
                  aria-controls="accordion-flush-body-1"
                >
                  <h2 class="text-2xl">
                    A guide to the different types of cat caves
                  </h2>

                  <svg
                    data-accordion-icon=""
                    class="w-6 h-6 rotate-180 shrink-0"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </h2>
              <div
                id="accordion-flush-body-1"
                class=""
                aria-labelledby="accordion-flush-heading-1"
              >
                <div
                  class="lg:py-9 border-gray-200 dark:border-gray-700 prose dark:prose-p:text-gray-400 dark:prose-headings:text-gray-300 prose-headings:font-medium prose-h3:text-2xl max-w-none prose-li:list-disc dark:prose-li:text-gray-400"
                >
                  <p>
                    There are a variety of cat caves available on the market,
                    each with its own set of pros and cons. In this blog post,
                    we'll take a look at the different types of cat caves, their
                    benefits and drawbacks, to help you choose the right one for
                    your feline friend.
                  </p>
                  <h3>1. Cardboard Cat Caves</h3>
                  <p>
                    Cardboard cat caves are perhaps the most popular type of cat
                    cave, due to their affordability and ease of construction.
                    All you need is a large piece of cardboard and some scissors
                    - no assembly required!
                  </p>
                  <p>
                    Cardboard cat caves can be decorated to your cat's liking,
                    and they're also very lightweight and easy to move around if
                    necessary. However, they're not as durable as some other
                    types of cat cave, and may not last as long.
                  </p>
                  <h3>2. Soft-sided Cat Caves</h3>
                  <p>
                    Soft-sided cat caves are similar to cardboard cat caves in
                    that they're easy to construct (no assembly required) and
                    lightweight. However, they're made from fabric instead of
                    cardboard, making them more durable.
                  </p>
                  <p>
                    Soft-sided cat caves can be machine-washed if necessary, but
                    they're not as easy to decorate as cardboard ones. They also
                    tend to be more expensive than their cardboard counterparts.
                  </p>
                  <h3>3. Wooden Cat Caves</h3>
                  <p>
                    Wooden cat caves are a more durable option than cardboard or
                    soft-sided cat caves. They're also usually more expensive,
                    and may require some assembly.
                  </p>
                  <p>
                    Wooden cat caves can be decorated to your cat's liking, and
                    can be made more comfortable with the addition of a
                    cushioned bed or blanket. However, they're not as easy to
                    move around as other types of cat cave, and may be too heavy
                    for some cats to move.
                  </p>
                  <h3>4. Wire Cat Caves</h3>
                  <p>
                    Wire cat caves are a fairly new type of cat cave, and they
                    offer a unique design that allows your cat to see out while
                    still feeling enclosed and safe. They're made from metal
                    wire, and usually come with a removable cover for easy
                    cleaning.
                  </p>
                  <p>
                    Wire cat caves are lightweight and easy to move around, but
                    they're not as durable as other types of cat cave. They're
                    also more expensive than most other types of cat cave.
                  </p>
                  <h3>5. Outdoor Cat Caves</h3>
                  <p>
                    Outdoor cat caves are designed for cats who enjoy spending
                    time outdoors. They typically have a waterproof bottom and
                    are made from weather-resistant materials, such as canvas or
                    nylon.
                  </p>
                  <p>
                    Outdoor cat caves can be a great option for cats who enjoy
                    the outdoors, but they're not suitable for indoor use.
                    They're also more expensive than most other types of cat
                    cave.
                  </p>
                  <h2>
                    Which type of cat cave is right for your feline friend?
                  </h2>
                  <p>
                    Now that you know about the different types of cat caves
                    available, you can start narrowing down your options to find
                    the perfect one for your feline friend. Consider your
                    budget, your cat's personality, and your own needs when
                    making your decision.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-lg lg:py-16 lg:px-6">
          <div
            class="gap-16 justify-between items-center p-6 text-white bg-gray-900 rounded-none dark:bg-gray-800 lg:flex lg:gap-24 md:p-12"
          >
            <div class="w-full">
              <h2
                class="mb-4 text-3xl tracking-tight font-extrabold sm:text-4xl"
              >
                Sign up for our newsletter
              </h2>
              <p class="font-light text-gray-400 sm:text-xl">
                Stay up to date with the roadmap progress, announcements and
                exclusive discounts feel free to sign up with your email.
              </p>
            </div>
            <div class="mt-6 w-full lg:mt-0">
              <form action="#">
                <div class="items-center mb-3 space-y-4 sm:flex sm:space-y-0">
                  <div class="relative w-full">
                    <label
                      for="member_email"
                      class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >
                      Email address
                    </label>
                    <div
                      class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
                    >
                      <svg
                        class="w-5 h-5 text-gray-500 dark:text-gray-400"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                        ></path>
                        <path
                          d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                        ></path>
                      </svg>
                    </div>
                    <input
                      class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-none border border-gray-300 sm:rounded-none sm:rounded-l-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Enter your email"
                      type="email"
                      required=""
                    />
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="py-3 px-5 w-full text-sm font-medium text-center text-white rounded-none border cursor-pointer bg-primary-600 border-primary-600 hover:border-primary-700 sm:rounded-none sm:rounded-r-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    >
                      Subscribe
                    </button>
                  </div>
                </div>
                <div class="text-sm text-left text-gray-400 dark:text-gray-300">
                  We care about the protection of your data.
                  <a href="#" class="font-medium text-white hover:underline">
                    Read our Privacy Policy
                  </a>
                  .
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
